<!-- Capture and store a URL -->
{% capture location %}{{ page.url | split:'/' }}{% endcapture %} 

<header class="masthead clear-fix">
<h3 class="masthead-title left">
  <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
  <small>{{ site.tagline }}</small>
</h3>
<div class="masthead-tabs right">
  <h3 class="masthead-title tab-item ">

    <a href="{{ site.baseurl }}/about" title="About" {% if location == 'about' %} class="nav__item--current" {% else %} class="nav__item" {% endif %}>
    	About
    </a>
    
  </h3>

  <h3 class="masthead-title tab-item ">
    <a href="{{ site.github }}" target="_blank" title="Github">GitHub</a>
  </h3>          
</div>
</header>